.header-nav{
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 0px;
    position: absolute;
    background-color: #fff;
    .navbar{
        position:sticky;
    .navbar-brand{
     margin-right: 100px !important;
    }
    .navbar-nav{
     position: relative;
    .nav-item{
    position: relative;
    padding-right: 60px !important;
    .nav-link{
     color:$dark-color;
     font-weight: 700;
     font-size: 16px;
     font-family: $premiery-font;
     }
 }
     .dropdown{
      position: relative;
     .nav-link{
     position: relative;
                   
    }
    &::after{
    top:6px;
    color:$orange-color;
     right:57px ;
     content: "+";
     font-size: 18px;
     font-weight: 700;
     position: absolute;
     transition: 0.3s all ease-in-out; 
     } 
   }
  }
 }
    .navbar-actions{
        display:flex;
        .carticon{
            &::after{
                top: 3px;
                right: -15px;
                width: 2px;
                content: "";
                height: 18px;
                position: absolute;
                background-color: #d9d9d9;
               }
        }
        button{
            position: relative;
            padding: 0;
            border: none !important;
            color: #5a5a5a !important;
            margin: 0px 15px;
            background-color: transparent;
            transition: 0.3s all ease-in-out;
            font-size: 18px;
           cursor: pointer;
           &:hover{
               color:$primary-color !important;
           }
        }
    }
    

}
