/*color default*/
$white: #fff;
$gray: #6c757d;
$primary-color:#0000fe;
$orange-color:#ff5520;
$dark-color:#000000;
$gray-color:#555555;
$title-color:#000000;
$textcolor:#666666;





$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;



/*fonts*/
$premiery-font:'Roboto', sans-serif;
$secondary-font: 'Fira Sans', sans-serif;